---
---
// Global stuff
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Bootstrap modifications
@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

.breadcrumb, .btn, .dropdown-menu .dropdown-item, .nav-pills .nav-link, .nav-tabs .nav-link, .navbar .nav-link, .pagination, .sandstone, .tooltip {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.btn {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    --bs-btn-disabled-color: #fff;
}

// Other
html {
    background-color: rgb(20, 20, 22);
}

body {
    background-color: rgb(20, 20, 22);
    overflow-x: hidden;

    font-family: "Fredoka", sans-serif;
    /* remove scrollbars */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    /* remove scrollbars */
    display: none;
}

.back-black {
    background-color: rgb(20, 20, 22);
}

.small-line {
    max-width: 4rem;
}

hr {
    border: 1px solid rgb(255, 148, 132);
    opacity: 1;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.no-select,
br,
img,
a,
footer {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

*::selection {
    background: rgba(150, 99, 92, 0.8); /* WebKit/Blink Browsers */
}

*::-moz-selection {
    background: rgba(150, 99, 92, 0.8); /* Gecko Browsers */
}

img, .highlight {
    border-radius: 0.5rem!important;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// Code blocks
.highlight pre {
    padding: 0.625rem 0.875rem;
    overflow: auto;
    font-size: 81.25%;
}
