---
layout: default
title: blog
---

<h1 class="text-white text-center">Welcome to the rubato blog. Content coming soon.</h1>

<div class="container py-5 mb-2 text-white back-black">
    <div class="row row-cols-3">
        {% for post in site.posts %}
            <div class="col">
                <a href="{{ post.url }}">
                    <div class="card back-black border-0 rounded-lg text-white">
                        {% if post.cover %}
                            <img src="{{ post.cover }}" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <strong>{{ post.title }}</strong>
                            </h5>
                            <p class="card-text">
                                {{ post.description }}
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            {% assign author = site.data.authors[post.author] %}
                            <i>
                                {% if author %}
                                    {{ author.name }} -
                                {% endif %}
                                {{ post.date | date_to_string }}
                            </i>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
