<footer class="text-muted m-4 d-flex flex-row justify-content-between">
    <div>Copyright © 2022, Martin Chaperot, Tomer Sedan, Yamm Elnekave</div>
    <div>
        <a class="text-reset mx-1" href="https://discord.gg/rdce5GXRrC"><i class="fa-brands fa-discord"></i></a>
        <a class="text-reset mx-1" href="https://github.com/rubatopy/rubato"><i class="fa-brands fa-github"></i></a>
        <a class="text-reset mx-1" href="https://twitter.com/rubatopy"><i class="fa-brands fa-twitter"></i></a>
        <a class="text-reset mx-1" href="mailto:info@rubato.app"><i class="fa-solid fa-envelope"></i></a>
        <a class="text-reset mx-1" href="https://www.linkedin.com/company/rubatopy/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</footer>
