{{ define "main" }}
<div class="container py-5 mb-2 text-white back-black">
    <div class="container">
        <h1 class="display-4">Welcome to <span class="text-primary">rubato</span>!</h1>
        <p class="lead">Game design made intuitive.</p>
        <br />
        <div class="text-end text-white">
            <p>
                rubato is a modern engine for designing 2D games and physics simulations in Python.
                <br />
                Prototype ideas quickly and build performant applications with the speed of C.
            </p>
            <a class="btn btn-danger btn-lg" href="https://docs.rubato.app/latest/intro" role="button">get started</a>
        </div>
        <br /><br />
    </div>
    <h1 class="text-center">About</h1>
    <div class="small-line mx-auto">
        <hr />
    </div>
    <div class="container card bg-dark mx-auto text-white" style="max-width: 56rem">
        <div class="card-body">
            <p class="card-text">
                Foremost, rubato is built developer-focused. From simple platformers to intricate rigidbody simulations,
                it streamlines development for both beginners and the poweruser. And all that with comprehensive
                documentation (finally!).
            </p>
            <p class="card-text">
                Wondering about the name? <i>rubato</i> is a music term that indicates a phrase that should be performed
                expressively and freely. We aim to harness that same freedom, bringing a fresh, modern take on game
                development in python to a variety of users regardless of their coding background.
            </p>
        </div>
    </div>
    <br /><br />
    <h1 class="text-center">Features</h1>
    <div class="small-line mx-auto">
        <hr />
    </div>
    <div class="d-flex flex-wrap justify-content-center text-white">
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Intuitive</h5>
                <p class="card-text text-secondary">
                    rubato's first priority is simplicity. Get started with just three lines of code, and build your
                    projects concisely and effortlessly.
                </p>
            </div>
        </div>
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Student Oriented</h5>
                <p class="card-text text-secondary">
                    Structured similarly to Unity, rubato provides a way for students to start learning serious game
                    design without having to touch C# code.
                </p>
            </div>
        </div>
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Powerful</h5>
                <p class="card-text text-secondary">
                    Native rigidbody support is built into rubato and enables easy 2D physics simulations with complex
                    geometries, utilizing a modern impulse resolution model.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center text-white">
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Accessible</h5>
                <p class="card-text text-secondary">
                    Offering comprehensive documentation and step-by-step guides, anyone can make games with rubato.
                </p>
            </div>
        </div>
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Performant</h5>
                <p class="card-text text-secondary">
                    Based on the Simple DirectMedia Library, rubato features hardware acceleration, antialiasing, and
                    fixed-step processing right out of the box.
                </p>
            </div>
        </div>
        <div class="card bg-dark m-2" style="max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Flexible</h5>
                <p class="card-text text-secondary">
                    With out-of-the-box PyInstaller support built in, it's ridiculously easy to compile your apps for
                    distribution.
                </p>
            </div>
        </div>
    </div>
    <br /><br />
    <h1 class="text-center">Contact Us</h1>
    <div class="small-line mx-auto">
        <hr />
    </div>
    <div class="container card bg-dark mx-auto text-white text-center" style="max-width: 56rem">
        <div class="card-body">
            <p class="card-text">
                If you have questions or just want to share what you've made with rubato, you'll find we reply fastest
                through the
                <a href="https://discord.gg/rdce5GXRrC">official discord</a>
            </p>
            <p class="card-text">
                You can also email us directly at <a href="mailto:info@rubato.app">info@rubato.app</a> or follow us on
                Twitter
                <a href="https://twitter.com/rubatopy">@rubatopy</a>
                for devlogs, feature updates, and to interact with the rubato community!
            </p>
        </div>
    </div>
</div>
{{ end }}
