<!DOCTYPE html>
<html lang="en">

    <head>
        {% include head.liquid %}
        <title>
            {% if page.title %}
                {{ page.title }} -{% endif %}
            rubato</title>
    </head>

    <body>
        <div class="d-flex flex-column" style="min-height: 100vh;">
            <div>{% include topbar.liquid %}</div>
            <div class="flex-grow-1">{{ content }}</div>
            <div>{% include footer.liquid %}</div>
        </div>
    </body>

</html>
